# Copy this service file to /etc/systemd/system/ to start ezwg on boot,
# assuming ezwg is installed to /usr/local/bin
[Unit]
Description=ezwg
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ezwg up

[Install]
WantedBy=default.target
